html {
  font-size: 11px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: firebrick;
}

.clock {
  width: 40%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 2px;
  border: 1px solid lightseagreen;
  border-radius: 20px;
  background-color: lightseagreen;
}

@media (max-width: 550px) {
  .clock {
    width: 65%;
  }
}

.clock__title {
  text-transform: capitalize;
  font-weight: 600;
}

.clock__time {
  text-transform: uppercase;
}
