:root {
  --increase: 1;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 142);
}

.links {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  counter-reset: increaing;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.links__item {
  width: 450px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.26);
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* @media (max-width: 768px) {
  .links__item {
    width: 800px;
  }
} */

.links__item__title::before {
  counter-increment: increaing;
  content: counter(increaing) " - ";
}
