* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: firebrick;
  font-weight: bold;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(241, 91, 91);
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}
